# dependencies
node_modules/

# env
.env
*.env

# expo / react native
.expo/
mobile/.expo/
*.jks
*.keystore

# uploads / generated
backend/uploads/
backend/src/data/

# logs
*.log

# OS
.DS_Store
Thumbs.db
